local_db.py
transformers/*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# pyenv
.python-version

# Environment variables
.env

# Jupyter Notebook
*.ipynb_checkpoints

# Text editor and IDE artifacts
.vscode/
*.swp
*~
